[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
python-dotenv = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.6"
